# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Distribution / Packaging
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# PyInstaller - Keeping spec file as it seems custom, but ignoring build artifacts
# DriveSync.spec 
